<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Steaks & Chops - Browse Recipes</title>

  <!---Font Icon-->
  <link href="css/font-awesome.min.css" rel="stylesheet">

  <!-- CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
  <link href="css/select2.min.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

  <link rel="icon" href="images/cropped-logo-32x32.png" sizes="32x32" />
  <link rel="icon" href="images/cropped-logo-192x192.png" sizes="192x192" />
  <link rel="apple-touch-icon-precomposed" href="images/cropped-logo-180x180.png" />
  <meta name="msapplication-TileImage" content="images/cropped-logo-270x270.png" />  

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid justify-content-center">
      <a class="navbar-brand" href="homepage-1.html"><img src="images/logo.png" alt><span>Steaks & Chops</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="homepage-1.html">Home</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                Demo

              </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="homepage-1.html">Homepage-1</a>
              <a class="dropdown-item" href="homepage-2.html">Homepage-2</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                Recipes

              </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="browse-recipes.html">Browse Recipes</a>
              <a class="dropdown-item" href="recipe-detail.html">Recipe Detail</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                Pages

              </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="typography.html">Typography</a>
              <a class="dropdown-item" href="contact.html">Contact</a>
            </div>
          </li>
          <li class="nav-item btn-submit-recipe">
            <a class="nav-link" href="submit-recipes.html"><i class="fa fa-upload" aria-hidden="true"></i> Submit Recipe</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Search -->
  <div class="search">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Browse Recipes</h2>
          <div class="row">
            <div class="col-lg-3">
              <div class="form-group">
                <label>Choose category</label>
                <select class="js-search-category form-control" name="category" data-placeholder="Choose Category">
                  <option value="1">All</option>
                  <option value="2">Breakfast</option>
                  <option value="3">Lunch</option>
                  <option value="4">Beverages</option>
                  <option value="5">Appetizers</option>
                  <option value="6">Soups</option>
                  <option value="7">Salads</option>
                  <option value="8">Beef</option>
                  <option value="9">Poultry</option>
                  <option value="10">Pork</option>
                  <option value="11">Seafood</option>
                  <option value="12">Vegetarian</option>
                  <option value="13">Vegetables</option>
                  <option value="14">Desserts</option>
                  <option value="15">Canning / Freezing</option>
                  <option value="16">Breads</option>
                  <option value="17">Holidays</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Select one or more ingredients that should be included in recipe</label>
                <select class="js-search-ingredients form-control" name="ingredients[]" multiple="multiple" data-placeholder="Included Ingredients">
                  <option value="sugar">sugar</option>
                  <option value="wheat-flour">wheat flour</option>
                  <option value="baking-powder">baking powder</option>
                  <option value="eggs">eggs</option>
                  <option value="salt">salt</option>
                  <option value="brown-sugar">brown sugar</option>
                  <option value="chicken-breast">chicken breast</option>
                  <option value="garlic">garlic</option>
                  <option value="milk">milk</option>
                  <option value="oil">oil</option>
                  <option value="sesame-oil">sesame oil</option>
                  <option value="soy-sauce">soy sauce</option>
                  <option value="butter">butter</option>
                  <option value="carrots">carrots</option>
                  <option value="coconut-flakes">coconut flakes</option>
                  <option value="honey">honey</option>
                  <option value="mung-bean-sprouts">mung bean sprouts</option>
                  <option value="noodles">noodles</option>
                  <option value="onion">onion</option>
                  <option value="potato-starch">potato starch</option>
                  <option value="red-bell-pepper">red bell pepper</option>
                  <option value="walnuts">walnuts</option>
                  <option value="water">water</option>
                  <option value="almonds">almonds</option>
                  <option value="baking-soda">baking soda</option>
                  <option value="beef-brisket">beef brisket</option>
                  <option value="beef-sirloin">beef sirloin</option>
                  <option value="bell-pepper">bell pepper</option>
                  <option value="broth">broth</option>
                  <option value="carrot">carrot</option>
                  <option value="cherries">cherries</option>
                  <option value="chocolate">chocolate</option>
                  <option value="cinnamon">cinnamon</option>
                  <option value="cinnamon-stick">cinnamon stick</option>
                  <option value="cocoa-powder">cocoa powder</option>
                  <option value="coconut">coconut</option>
                  <option value="corn-tortillas">corn tortillas</option>
                  <option value="dark-chocolate">dark chocolate</option>
                  <option value="dried-black-mushrooms">dried black mushrooms</option>
                  <option value="dried-soba">dried soba</option>
                  <option value="egg">egg</option>
                  <option value="five-spice-powder">five spice powder</option>
                  <option value="flour">flour</option>
                  <option value="ginger">ginger</option>
                  <option value="guilin-chili-sauce">guilin chili sauce</option>
                  <option value="leek">leek</option>
                  <option value="lettuce">lettuce</option>
                  <option value="olive-oil">olive oil</option>
                  <option value="oyster-sauce">oyster sauce</option>
                  <option value="pear-juice">pear juice</option>
                  <option value="pepper">pepper</option>
                  <option value="pineapple">pineapple</option>
                  <option value="red-onion">red onion</option>
                  <option value="redcurrant">redcurrant</option>
                  <option value="ribs-of-celery">ribs of celery</option>
                  <option value="sichuan-pepper">Sichuan pepper</option>
                  <option value="spring-onions">spring onions</option>
                  <option value="strawberries">strawberries</option>
                  <option value="taiwanese-golden-mushrooms">Taiwanese golden mushrooms</option>
                  <option value="yeast">yeast</option>
                  <option value="yellow-bell-pepper">yellow bell pepper</option>
                </select>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label>Recipe needs to have</label>
                <select class="js-search-category2 form-control" name="category" data-placeholder="Choose Category">
                  <option value="1">All of selected ingredients</option>
                  <option value="2">Any of selected ingredients</option>
                </select>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Search by Keyword">
                <button type="submit" class="btn">Search Recipes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- List Recipes -->
  <div class="list">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h5><i class="fa fa-cutlery" aria-hidden="true"></i>  All Recipes</h5>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="box grid recipes">
            <div class="by"><i class="fa fa-user" aria-hidden="true"></i> Gerina Amy</div>
            <a href="#">
              <img src="images/recipe2.jpg" alt="">
            </a>
            <h2><a href="#">Milk fruit fresh with vegetables </a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="tag">
              <a href="#">Milk</a>
              <a href="#">Lemon</a>
              <a href="#">Sayur</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="box grid recipes">
            <div class="by"><i class="fa fa-user" aria-hidden="true"></i> Gerina Amy</div>
            <a href="#">
              <img src="images/recipe3.jpg" alt="">
            </a>
            <h2><a href="#">Pink Happy Pia Chocolate Sweet</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <div class="tag">
              <a href="#">Chocolate</a>
              <a href="#">Lemon</a>
              <a href="#">Sayur</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="box grid recipes">
            <div class="by"><i class="fa fa-user" aria-hidden="true"></i> Gerina Amy</div>
            <a href="#">
              <img src="images/recipe4.jpg" alt="">
            </a>
            <h2><a href="#">Tasty Muffin Sweet Tin Lunches</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <div class="tag">
              <a href="#">Muffin</a>
              <a href="#">Lemon</a>
              <a href="#">Sayur</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="box grid recipes">
            <div class="by"><i class="fa fa-user" aria-hidden="true"></i> Gerina Amy</div>
            <a href="#">
              <img src="images/recipe5.jpg" alt="">
            </a>
            <h2><a href="#">Chickpea Recipes to Make Your Heart Happy</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <div class="tag">
              <a href="#">Chicken</a>
              <a href="#">Lemon</a>
              <a href="#">Sayur</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="box grid recipes">
            <div class="by"><i class="fa fa-user" aria-hidden="true"></i> Gerina Amy</div>
            <a href="#">
              <img src="images/recipe6.jpg" alt="">
            </a>
            <h2><a href="#">Cornbread Topped Cast-Iron Skillet Chili</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <div class="tag">
              <a href="#">Corn</a>
              <a href="#">Lemon</a>
              <a href="#">Sayur</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="box grid recipes">
            <div class="by"><i class="fa fa-user" aria-hidden="true"></i> Gerina Amy</div>
            <a href="#">
              <img src="images/recipe7.jpg" alt="">
            </a>
            <h2><a href="#">Easy Vegan Weeknight Dinner Recipes</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <div class="tag">
              <a href="#">Vegan</a>
              <a href="#">Lemon</a>
              <a href="#">Sayur</a>
            </div>
          </div>
        </div>
        <div class="col-lg-12 text-center">
          <a href="#" class="btn btn-load">Load More</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <h5>About</h5>
          <p>Nunc at augue gravida est fermentum vulputate. gravida est fermentum vulputate Pellentesque et ipsum in dui malesuada tempus.</p>
        </div>
        <div class="col-lg-3 col-sm-6">
          <h5>Archive</h5>
          <ul>
            <li><a href="#">June 2017</a>
            </li>
            <li><a href="#">July 2017</a>
            </li>
            <li><a href="#">August 2017</a>
            </li>
            <li><a href="#">September 2017</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-6">
          <h5>Recipes</h5>
          <ul>
            <li><a href="#">Browse Recipes</a>
            </li>
            <li><a href="#">Recipe Page</a>
            </li>
            <li><a href="#">Submit Recipe</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-6">
          <h5>Newsletter</h5>
          <form>
            <div class="form-group">
              <input type="text" class="form-control">
            </div>
            <button type="submit" class="btn">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </footer>

  <!-- Copyright -->
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">Made with <i class="fa fa-heart" aria-hidden="true"></i> &#8212; Copyright &copy; 2018 <a href="homepage-1.html">Steaks & Chops - Food Bootstrap Template</a>. All Rights Reserved.</div>
      </div>
    </div>
  </div>

  <!-- Javascript -->
  <script src="js/plugins/jquery.min.js"></script>
  <script src="js/plugins/popper.min.js"></script>
  <script src="js/plugins/bootstrap.min.js"></script>
  <script src="js/plugins/select2.min.js"></script>
  <script src="js/plugins/jquery-ui.js"></script>

  <script src="js/scripts.js"></script>

</body>
</html>