# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# Build files
/build
/dist
server/RecipeBox/obj

# Terraform
.terraform
*.tfstate
*.tfstate.backup
deployment/secret.tfvars